* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

img,
p {
    pointer-events: none;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 1440px;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto 10px 0;
    font-family: $font;
    background-color: $bgcRoot;
}

.cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.attribution {
    display: flex;
    gap: 10px;
}

.attribution__container {
    display: flex;
    gap: 3px;
}