$bgcRoot: hsl(228, 33%, 97%);
$bgcButton: hsl(238, 40%, 52%);
$bgcContent: hsl(0, 0%, 100%);
$colorDeleteActive: hsl(357, 100%, 86%);
$colorDelete: hsl(358, 79%, 66%);
$borderColor: hsl(223, 19%, 93%);
$nameColor: hsl(212, 24%, 26%);
$fontColor: hsl(211, 10%, 45%);
$font: "Rubik", sans-serif;
$borderRadius: 5px;
